<div class = "row">
	<div class = "col-md-12">
		<div id = "carousel-example-generic" class = "carousel slide" data-interval = "3000" data-ride = "carousel">
			<ol class = "carousel-indicators">
				<li data-target = "#carousel-example-generic" data-slide-to = "0" class = "active"></li>
				<li data-target = "#carousel-example-generic" data-slide-to = "1" class = ""></li>
				<li data-target = "#carousel-example-generic" data-slide-to = "2" class = ""></li>
			</ol>
			<div class = "carousel-inner">
				<% @carousel.each do |i|  %>
					<%if i == @carousel.first%>
						<div class = "item active">
					<%else%>
						<div class = "item">
					<%end%>

							<%= image_tag i.to_a.second, alt: "Slide no. #{i.to_a.first}" %>
						</div>
				<%end%>
			</div>
			<!-- Controls -->

			<a class = "left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class = "glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class = "right carousel-control" href = "#carousel-example-generic" role="button" data-slide = "next">
				<span class = "glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>

		<hr />
	</div>	
</div>


<div class = "row">
	<% @carousel.each do |i|  %>
		<div class = "col-md-4">
			<%= image_tag i.to_a.second, :width => "50%"  %>
			<h4>Tourist Spot <%= i.to_a.first%></h4>
			<p><%= i.to_a.third%></p>
			<br />
	</div>
	<%end%>
</div>

<div class = "row">
	<div class = "col-md-12">
		<div class = "panel-footer">
			<h4>Get in touch!</h4>
			<div class = "row">
				<div class = "col-md-9">
					<p>We'd love to hear from you.</p>
				</div>
				<div class = "col-md-3">
					<%= link_to "Contact Us", contact_path, class: "btn btn-primary active"%>
				</div>
			</div>
		</div>
	</div>
</div>



