<% provide(:title, 'Edit Service') %>
<div class = "row">
	<div class = "col-md-9 columns">

		<h4><b>Service #<%=@service.id%></b></h4>

		 <%= render 'form' %>

		 <br />

		<%= link_to 'Show', @service %> |
		<%= link_to 'Destroy', @service, method: :delete, data: { confirm: 'Are you sure?' } %> | 
		<%= link_to 'Back', services_path %>
	</div>
</div>

