<% provide(:title, 'Services') %>
<div class = "row text-center">

	<div class = "col-md-12">
		<h2 style = "margin: 0;"><b>Services</b></h2>
	</div>

	<hr />
	<div class = "row text-center">
		<% @services.each do |service| %>
			<div class = "col-md-4">
				<div class = "panel panel-success">
					<%= service.name %>
				</div>
				<div class = "panel panel-default">
					<div class = "panel-heading">£<%= sprintf("%.2f", service.price) %></div>
					<div class = "panel-body"><%= service.contents%></div>
					<div class = "panel-body"><%= pluralize(service.guide, "Guide") %></div>
					<div class = "panel-body"><%= service.room %></div>
					<div class = "panel-body"><%= service.food %></div>
					<div class = "panel-footer">
						<%=link_to "", type: "button", class: "btn btn-primary active", data: {target: @cart_action, addUrl: add_to_cart_path(service), removeUrl: remove_from_cart_path(service), reload: true} do %>
							<i class = "glyphicon glyphicon-shopping-cart"></i>
							<span><%=@cart_action%></span> Cart
						<%end%>
					</div>
				</div>
			</div>
		<%end%>
	</div>
</div>
