<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @service.contents %>
</p>

<p>
  <strong>Guides:</strong>
  <%= @service.guide %>
</p>

<p>
  <strong>Room:</strong>
  <%= @service.room %>
</p>

<p>
  <strong>Food:</strong>
  <%= @service.food %>
</p>
						<%=link_to "", type: "button", class: "btn btn-primary active", data: {target: @cart_action, addUrl: add_to_cart_path(@service), removeUrl: remove_from_cart_path(@service)} do %>
							<i class = "glyphicon glyphicon-shopping-cart"></i>
							<span><%=@cart_action%></span> Cart
						<%end%>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
