<% provide(:title, 'Edit Carousel Image') %>
<div class = "row">
	<div class = "col-md-9 columns">

		<h4><b>Carousel #<%=@carousel.id%></b></h4>

		<%= render 'form' %>
<br />

		<%= link_to 'Show', @carousel %> |
		<%= link_to 'Destroy', @carousel, method: :delete, data: { confirm: 'Are you sure?' } %> | 
		<%= link_to 'Back', carousels_path %>
	</div>
</div>
