<header>
	<div class = "row" style = "padding-top:10px;">
		<div class = "col-md-3">
			<h1><%=image_tag "logo.png", :height => "50%" %></h1>
		</div>

		<div class = "col-md-9">
			<div class = "btn-group pull-right" style = "margin-bottom: 15px;">
	
				<%=link_to "Home", root_path, type: "button", class: "btn btn-primary active" %>
				<%=link_to "Services", "#", type: "button", class: "btn btn-primary active" %>
				<%=link_to "About Us", about_path, type: "button", class: "btn btn-primary active" %>
				<%=link_to "FAQs", faq_path, type: "button", class: "btn btn-primary active" %>
				<%=link_to "Contact Us", contacts_path, type: "button", class: "btn btn-primary active" %>
				<p><div class = "col-md-12 btn-group pull-right" style = "margin-bottom: 15px;">
				<% if signed_in? %>
					<%=link_to current_user.email, edit_user_registration_path, type: "button", class: "btn btn-primary active" %>
				<%else%>
						<%=link_to "Sign Up", new_user_registration_path, type: "button", class: "btn btn-primary active" %>
				<%end%>
				<% if signed_in? %>
					<%=link_to "Log out", destroy_user_session_path, method: :delete, type: "button", class: "btn btn-primary active" %>
				<% else %>
					<%=link_to "Log In", new_user_session_path, type: "button", class: "btn btn-primary active" %>
				<%end%>
				</div></p>
			</div>
		</div>
			
		
	</div>
</header>

